

.FootprintQuestion-inputsContainer {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}

.FootprintQuestion-input {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content:  center;
    cursor: pointer;
}

.FootprintQuestion-inputContent {
    margin-top: 10px;
}

.FootprintQuestion-input:hover {
    opacity: 0.6;
}

.FootprintQuestion-input--showCorrect {
    background: green;
}

.FootprintQuestion-input--showIncorrect {
    background: red;
}
