.QuizFooter {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction:  column;
    align-items: center;
}

.QuizFooter-home {
    font-size: 18px;
    color: white;
}

.QuizFooter-or {
    font-size: 18px;
    color: black;
}

.QuizFooter-otherQuizzes {
    font-size: 18px;
    color: white;
}

.QuizFooter-quizLinks {
    font-size: 18px;
    color: white;
}

.QuizFooter-copyright {
    margin-top: 40px;
    font-size: 14px;
    color: white;
}

.QuizFooter-link {
    color: white;
    text-decoration: underline;
}

.QuizFooter-link:hover {
    color: blue;
}
