.QuizLayout {
    margin: 0;
    padding: 50px 100px;
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

.QuizLayout--yellow {
    background-color: #f9c74f;
}

.QuizLayout--green {
    background-color: #90be6d;
}

.QuizLayout--orange {
    background-color: #f8961e;
}

/* ##KeepMaxMinWidthInSync - search code for "#KeepMaxMinWidthInSync" */
.QuizLayout-contents {
    min-width: 740px;
    max-width: 1092px;
    margin: auto;
}

.QuizLayout-headerLink {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.QuizLayout-headerLink:hover {
    color: blue;
}

.QuizLayout-title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 32px;
    margin-top: 30px;
}

.QuizLayout-questions {
    font-family: 'Montserrat', sans-serif;
}

.QuizLayout-question {
    margin-top: 30px;
}
