.body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.skylinePicture {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

#contentWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h3, p {
  text-align: center;
}
