.ReduceEmissionsQuestion-inputsContainer {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}

.ReduceEmissionsQuestion-input {
    display: flex;
    background: transparent;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content:  center;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.ReduceEmissionsQuestion-inputContent {
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
}

.ReduceEmissionsQuestion-input:hover {
    opacity: 0.6;
}

.ReduceEmissionsQuestion-input--showCorrect {
    background: green;
}

.ReduceEmissionsQuestion-input--showIncorrect {
    background: red;
}
