.FlightQuestion-inputsContainer {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}

.FlightQuestion-input {
    display: flex;
    background: white;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content:  center;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.FlightQuestion-input:hover {
    opacity: 0.6;
}

.FlightQuestion-input--selected {
    background: grey;
}
